PORT=5001
MONGO_URI=mongodb://127.0.0.1:27017/task02_ems
JWT_SECRET=replace_this_with_a_long_random_secret
JWT_EXPIRES_IN=1d
COOKIE_EXPIRES_DAYS=1
CLIENT_URL=http://localhost:5174
NODE_ENV=development
